@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --body-small-tag: "DM Sans";
  --body-bold: Inter;

  /* font sizes */
  --body-small-tag-size: 14px;
  --body-bold-size: 16px;
  --h2-size: 54px;
  --font-size-13xl: 32px;
  --font-size-24xl: 43px;
  --h5-size: 18px;
  --body-large-size: 22px;
  --font-size-146xl: 165px;
  --font-size-22xl: 41px;
  --font-size-47xl: 66px;
  --tag-size: 13px;

  /* Colors */
  --color-gray-100: #808080;
  --color-gray-200: #7a7a7a;
  --color-gray-300: #222;
  --color-gray-400: #0d0d0d;
  --color-gray-500: rgba(255, 255, 255, 0);
  --color-gray-600: rgba(255, 255, 255, 0.01);
  --color-gray-700: rgba(255, 255, 255, 0.5);
  --color-gray-800: rgba(255, 255, 255, 0.2);
  --color-white: #fff;
  --color-gainsboro: #e6e6e6;
  --color-black: #000;
  --color-silver: #bbb;
  --color-plum: #b48cde;

  /* Gaps */
  --gap-xl: 20px;
  --gap-2xs: 11px;
  --gap-3xs: 10px;
  --gap-21xl: 40px;
  --gap-28xl: 47px;
  --gap-4xl: 23px;
  --gap-47xl: 66px;
  --gap-base: 16px;
  --gap-14xl: 33px;
  --gap-5xl: 24px;
  --gap-5xs: 8px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-13xl: 32px;
  --gap-9xs: 4px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-11xl: 30px;
  --padding-21xl: 40px;
  --padding-10xs: 3px;
  --padding-mini: 15px;
  --padding-113xl: 132px;
  --padding-311xl: 330px;
  --padding-67xl: 86px;
  --padding-146xl: 165px;
  --padding-3xs: 10px;
  --padding-xs-5: 11.5px;
  --padding-xs: 12px;
  --padding-58xl: 77px;
  --padding-2xl: 21px;
  --padding-164xl: 183px;
  --padding-31xl: 50px;
  --padding-100xl: 119px;
  --padding-12xs: 1px;
  --padding-65xl-7: 84.7px;
  --padding-36xl: 55px;
  --padding-4xs: 9px;
  --padding-base: 16px;
  --padding-4xl: 23px;
  --padding-25xl: 44px;
  --padding-194xl: 213px;
  --padding-3xl: 22px;
  --padding-119xl: 138px;
  --padding-lgi: 19px;
  --padding-lg: 18px;
  --padding-145xl: 164px;
  --padding-10xs-4: 2.4px;
  --padding-8xs-8: 4.8px;
  --padding-11xs-9: 1.9px;
  --padding-45xl-5: 64.5px;
  --padding-260xl: 279px;
  --padding-128xl: 147px;
  --padding-23xl: 42px;
  --padding-120xl: 139px;
  --padding-77xl: 96px;
  --padding-base-5: 15.5px;
  --padding-sm: 14px;

  /* Border radiuses */
  --br-3xs: 10px;
}
